@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

main {
  margin: 50px auto;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
}

main h1 {
  font-size: 24px;
  font-weight: bold;
  background-color: #bbb;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
